<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Job Finder</h1>
    <form action="/run_script" method="post">
        <button type="submit" name="script" value="linkedin">Run LinkedIn Scraper</button>
        <button type="submit" name="script" value="upwork">Run Upwork Scraper</button>
    </form>
</body>
</html>